.header {
  display: grid;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
  grid-template-columns: 1fr;
  justify-content: space-evenly;
}
@media screen and (min-width: 600px) {
  .header {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 16rem));
  }
}
.header--icon {
  object-fit: contain;
  height: 100px;
  z-index: 100;
  width: 100%;
  grid-template-columns: 1fr;
}
.header--center {
  display: grid;
  align-items: center;
  flex: 1;
  padding: 10px;
  height: 30px;
  border: 1px solid lightgrey;
  border-radius: 999px;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 600px) {
  .header--center {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 16rem));
  }
}
