.banner{
    background-image: url(/Users/namacocnut/apps/airbnb-clone/src/images/hero.png);
    position: relative;
    height: 70vh;
    background-size: cover; 
}
.banner--info{
    background-color: black;
    color: white;
    padding-top: 25vh;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 40px;
    width: 300px;

}
.banner--info > button {
    background-color: #ff7779;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
    border: #ff7779;

}
.banner--info > button:hover {
    background-color: white;
    color: #ff7779;
    border: #ff7779;

    

}
.banner--info > h5 {
    margin-top: 10px;
}